/* From pelican-themes/Flex/static/stylesheet/style.less */

/* Links */
a {
  color: #5859FB;
  text-decoration: none;
}

a:hover {
  color: #8181F7;
}

/* Tag cloud */
.tag-cloud a {
    background-color: #5859FB;
    color: #ffffff;
}

.tag-cloud a:hover {
    background-color: #8181F7;
    color: #000000;
}

/* Button */
a.btn,
section#isso-thread section.auth-section p.post-action input {
  background-color: #5859FB;
}

a.btn:hover {
  background-color: #8181F7;
  color: #000000;
}
